<h3>Title: <%= @question.title %></h3>

<div>
  <%= @question.description %>
</div>

<div>
  <%= button_to 'Edit', edit_question_path(@question), method: 'get' %>
</div>

<h3>Post an answer:</h3>

<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit 'Submit' %>
  </div>
<% end %>

<h3>All answers</h3>

<% @question.answers.order(created_at: :desc).each do |answer| %>
  <div>
    <%= "#{answer.description} (Posted at #{answer.created_at})" %>
  </div>
<% end %>
