<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <% if !current_user %>
      <li><%= link_to "Sign in with GitHub", '/auth/github' %></li>
    <% else %>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>

<p><%= notice %></p>

<%= yield %>

</body>
</html>
